<nav class="top">
  <div class="container">
    <%= link_to feeds_path do %>
      &#171; Feeds
    <% end %>
  </div>
</nav>

<div class="feed-page">
  <h1 class="title"><%= @feed.title %></h1>
  <% if @feed.favicon_url %>
    <%= image_tag @feed.favicon_url, class: 'icon' %>
  <% end %>
  <%= render partial: 'entries/collection',
             locals: {entries: @feed.entries} %>
</div>



