<nav class="top">
  <%= link_to feeds_path do %>
    &#171; Feeds
  <% end %>
</nav>
<div id="feed-container">
  <h1><%= @feed.title %></h1>

  <%= render partial: 'articles/collection',
             locals: {articles: @feed.articles} %>
</div>



