<nav class="top">
  <div class="container">
    <%= link_to feeds_path do %>
      &#171; Feeds
    <% end %>
  </div>
</nav>

<div id="feed-container">
  <div class="entry-page">
    <h1><%= @feed.title %></h1>
    <%= render partial: 'entries/collection',
               locals: {entries: @feed.entries} %>
  </div>
</div>



