<ul class="entry-list">
<% entries.each do |entry| %>
  <li class="entry media">
    <%= link_to feed_entry_path(entry.feed, entry) do %>
      <% if entry.image %>
        <div class="media-figure">
          <%= image_tag entry.image, class: 'media-img' %>
        </div>
      <% end %>
      <div class="media-body">
        <h3 class="title"><%= entry.title %></h3>
        <p class="summary">
          <%= truncate(entry.forward, length: 140, separator: ' ') %>

        </p>
      </div>
    <% end %>
  </li>
<% end %>
</ul>
