<article>
  <h1>
    <%= link_to article.url do %>
      <%= article.title %>
    <% end %>
  </h1>
  <% if article.published_at %>
    <p class="published"><%= published(article.published_at) %></p>
  <% end %>

  <%= raw article.content %>
</article>
