<div class="article-list">
<% articles.each do |article| %>
  <div class="article-item">
    <%= link_to feed_article_path(article.feed, article.slug) do %>
      <h2><%= article.title %></h2>
      <p><%= article.summary %></p>
    <% end %>
  </div>
<% end %>
