<nav class="top">
  <%= link_to feed_path @article.feed do %>
    &#171; Back
  <% end %>
</nav>
<div id="article" class="article">
  <%= render partial: 'article', locals: {article: @article} %>
</div>
