<nav class="top">
  <div class="container">
    <%= link_to feed_path @article.feed do %>
      &#171; Back
    <% end %>
  </div>
</nav>
<div id="article" class="article">
  <%= render partial: 'article', locals: {article: @article} %>
</div>
