/* Contains the article */
#article {
  max-width: 700px;
  margin: 0 auto;
  color: #333;
  overflow: hidden;
}

article {
  padding: 16px;
}

article h1 {
  margin-top: 0.8em;
  padding: 8px;
  text-align: center;
}
article h1 a {
  text-decoration: none;
}

article h2 {
  border-left: 8px solid lightblue;
  border-top: 8px solid lightblue;
  padding-top: 8px;
  padding-left: 8px;
}

article h3 {
 border-bottom: 0.1rem solid lightblue;
}
article .published {
  text-align: center;
  color: #999;
  font-weight: 700;
  font-size: 0.8em;
}

article p {
  max-width: 90%;
  margin: 0 auto;
}

article a {
  color: #333;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: lightblue;
}

article figure {
  margin: 16px 0;
}

article figure p, article figure .off-screen {
  display: none;
}
article img, article picture {
  width: 100%;
  /*border-radius: 10px;*/
}


/* A figure is could be an imageor a graph or a Definition List*/
article figure cite,
article figure figcaption {
  display: block;
  font-style: italic;
  font-size: 0.8em;
  color: #999;
  padding: 8px;
  text-align: center;
}

article aside {
  padding: 2rem;
  font-weight: 700;
  color: lightblue;
}


/* List of articles */
.article-item {
  background: white;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 1rem;
}
.article-item .title {
  color: #333;
  font-size: 1rem;
}
.article-item .summary {
  color: #999;
}
.article-item a {
  color: #333;
}

