/* List of articles */
.entry-list {
  list-style-type: none;
  text-align: left;
}

.entry-list .entry .title {
  font-size: 1rem;
  margin: 0;
}

.entry-list .entry .summary {
  line-height: 1.2rem;
}

.entry-list .entry a {
  text-decoration: none;
  color: inherit;
}

li.entry {
  padding: 10px;
}

li.entry:hover {
  background: #eee;
  cursor: pointer;
}


.media a {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}
.media-figure img {
  max-width: 150px;
}

.media-body a {
  flex: 1;
}
