html {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
}
body {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 1.6em 0 0.8em 0;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 0.7em;
}
